# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
staticfiles/
media/
local_settings.py
db.sqlite3

# If your build process includes a "dist" directory:
dist/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.coverage.*

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# dotenv
.env

# SQL backups
*.sql

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# Windows file system
Thumbs.db
ehthumbs.db

# JetBrains IDEs
*.iml
*.iws
.idea/
.idea/**

# Other
*.pyc
/static/


# Ignore Procfile
Procfile


# Ignore all settings.py files
**/settings.py
