{% extends 'base.html' %}

{% block title %}Menu - Restaurant{% endblock %}

{% block content %}
<div class="content-background">
    <h1>The Restaurant Menu</h1>
    <p>We cannot guarantee that any particular item will be on offer on any particular day. All ingredients & dishes are subject to availability & seasonal and also some special dishes may only be available on Saturday.</p>
    <p>Some of our products may contain MSG, GMO's, Wheat, peanuts & other Nuts.</p>
    <hr>
    <div class="menu-container">
        <div class="menu-column">
            <section>
                <h2>Starters</h2>
                <ul>
                    <li>Garlic Bread</li>
                    <li>Bruschetta</li>
                    <li>Stuffed Mushrooms</li>
                    <li>Vegetable Spring Rolls</li>
                    <li>Chicken Satay Skewers</li>
                    <li>Calamari</li>
                    <li>Fried Mozzarella Sticks</li>
                    <li>Spicy Shrimp</li>
                    <li>Mini Tacos</li>
                    <li>Cheese Plate</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Sauces</h2>
                <ul>
                    <li>Marinara Sauce</li>
                    <li>Alfredo Sauce</li>
                    <li>Pesto Sauce</li>
                    <li>Garlic Butter Sauce</li>
                    <li>Barbecue Sauce</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Meat</h2>
                <ul>
                    <li>Grilled Chicken Breast</li>
                    <li>Barbecued Ribs</li>
                    <li>Roast Beef</li>
                    <li>Honey Glazed Ham</li>
                    <li>Lamb Chops</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Vegetarian</h2>
                <ul>
                    <li>Grilled Vegetable Platter</li>
                    <li>Vegetable Curry</li>
                    <li>Stuffed Bell Peppers</li>
                    <li>Vegetable Lasagna</li>
                    <li>Quinoa Salad</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Teppanyaki</h2>
                <ul>
                    <li>Grilled Shrimp</li>
                    <li>Beef Teriyaki</li>
                    <li>Chicken Yakitori</li>
                    <li>Vegetable Teppanyaki</li>
                    <li>Mixed Seafood Grill</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Fresh Fruits</h2>
                <ul>
                    <li>Apple</li>
                    <li>Banana</li>
                    <li>Orange</li>
                    <li>Grapes</li>
                    <li>Watermelon</li>
                </ul>
            </section>
        </div>
        <div class="menu-column">
            <section>
                <h2>Soup</h2>
                <ul>
                    <li>Tomato Basil Soup</li>
                    <li>Chicken Noodle Soup</li>
                    <li>Clam Chowder</li>
                    <li>Minestrone</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Main Dishes</h2>
                <ul>
                    <li>Grilled Salmon</li>
                    <li>Beef Steak</li>
                    <li>Chicken Parmesan</li>
                    <li>Vegetable Stir Fry</li>
                    <li>Spaghetti Carbonara</li>
                    <li>Seafood Paella</li>
                    <li>Beef Tacos</li>
                    <li>Chicken Alfredo</li>
                    <li>Vegetarian Lasagna</li>
                    <li>Pulled Pork Sandwich</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Poultry</h2>
                <ul>
                    <li>Chicken Wings</li>
                    <li>Turkey Breast</li>
                    <li>Duck Confit</li>
                    <li>Chicken Tenders</li>
                    <li>Stuffed Chicken Breast</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Rice, Noodles and Vermicelli</h2>
                <ul>
                    <li>Steamed Rice</li>
                    <li>Fried Rice</li>
                    <li>Lo Mein</li>
                    <li>Pad Thai</li>
                    <li>Rice Pilaf</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Chef's Special</h2>
                <ul>
                    <li>Chef's Special Pizza</li>
                    <li>Chef's Special Pasta</li>
                    <li>Chef's Special Salad</li>
                    <li>Chef's Special Dessert</li>
                    <li>Chef's Special Soup</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Salad Bar</h2>
                <ul>
                    <li>Greek Salad</li>
                    <li>Caesar Salad</li>
                    <li>Garden Salad</li>
                    <li>Fruit Salad</li>
                    <li>Caprese Salad</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2>Desserts</h2>
                <ul>
                    <li>Chocolate Cake</li>
                    <li>Cheesecake</li>
                    <li>Tiramisu</li>
                    <li>Ice Cream Sundae</li>
                    <li>Fruit Tart</li>
                </ul>
            </section>
        </div>
    </div>
</div>
{% endblock %}
