{% extends "base.html" %}

{% block title %}Admin Dashboard - Book My Table{% endblock %}

{% block content %}
<div class="content-background">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
        <li><a href="{% url 'admin_dashboard' %}">Users</a></li>
        <li><a href="{% url 'edit_user' user.id %}">Admin - Edit</a></li>
        <li><a href="{% url 'delete_user' user.id %}">Delete</a></li>
        <li><a href="{% url 'admin_dashboard' %}">Bookings</a></li>
    </ul>
</div>
{% endblock %}
